h1 {

  color: #276678;
  margin-top: 0;

}

body{
  margin: 0;
}
h3 {
  color: #1687A7;

}


.topcontainer {

background-color: #F6F5F5;
}

.middlecontainer {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottomcontainer {
  height: 200px;
  width: 200px;
  background-color: blue;
}
